# Server
PORT=5000
NODE_ENV=development

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=bidlan
PG_USER=postgres
PG_PASSWORD=postgres

# MongoDB
MONGO_URI=mongodb+srv://trespicsj_db_user:dgBQbYh9INUVAJl6@cluster0.jf9eyzn.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# YouTube API v3
YOUTUBE_API_KEY=AIzaSyBbtSy4tqzEtztqOdzRv6Rc4Tgm6YyT1Vo

# Vimeo API
VIMEO_ACCESS_TOKEN=277032ef73853bd438fe45b05ec17c6b

# Supabase
SUPABASE_URL=https://lqbsjjkgqitwvnqlqwhb.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_KEY=sb_publishable_zVmIE9a5OTeInOfVgDA9cg_DDrF82bt
SUPABASE_BUCKET=videos
SUPABASE_DATABASE=postgresql://postgres:Learn2026more.@db.lqbsjjkgqitwvnqlqwhb.supabase.co:5432/postgres

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
